node_modules
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

web/admin-client/src/utils/global-config.ts
web/mobile-client/src/utils/global-config.ts
web/web-client/src/utils/global-config.ts
